@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.main{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;

    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #21333e;
        height: 50px;

        .headerTopLeft{
           a{
            color: lightgrey;
            text-decoration: none;
            margin: 30px
           }
        }

        .headerTopRight{

            a{
                color: lightgrey;
                text-decoration: none;
                margin: 30px
            }
        }
    }

    .mainMenu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        height: 60px;

        .mainMenuLeft{
            a{
                text-decoration: none;
                color: black;
                margin: 30px
            }
        }

        .mainMenuRight{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 30px;
            
            a{
                text-decoration: none;
                color: black;
                margin: 30px
            }

            .mainMenuRightBtn{
                background-color:#00a6a6;
                border-radius: 5px;
                height: 30px;
                padding: 15px;
                color: white;
            }
        }
    }
}

