@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import 'mixin&variable';

body{
    margin: 0px;
}

.main{
    @include displayColumn;
    font-family: 'Montserrat', sans-serif;
 
    header{

        .navBarTop{
            
            @include displayRow;
            justify-content: space-between;
            align-items: center;
            background-color: #21333e;
            height: 50px;
            font-size: 16px;

            .navBarTopLeft{
                @include headerTop;
            }

            .navBarTopRight{
                @include headerTop;
            }
        }

        .navBarBottom{
            display: flex;
            width: 100%;

            .navBarBottomMenu{
                
                @include displayRow;
                justify-content: space-between;
                align-items: center;
                vertical-align: baseline;
                width: 100%;

                padding: 20px 50px 0px 50px;
                
                
                .logo{
                    display: flex;
                    justify-content: flex-end;
                    text-decoration: none;
                    font-weight:700;
                    font-size: 19.2px;
                    letter-spacing: 5px;
                    height: 40px;
                    line-height: 40px;
                    border-radius: 1px;

                    #spanLeft{
                        @include testoEvidenziato;
                        padding-left: 35px;
                        border-radius: 100px 0 0 100px;
                    }

                    #spanRight{
                        color: $dark-color-primary;
                    }
                }

                .navBarBottomMenuRight{
                    @include displayRow;
                    align-items: baseline;
                    
                    a{
                        text-decoration: none;
                        color: $dark-color-primary;
                        font-weight: 500;
                        font-size: 16px;
                        margin: 20px
                    }

                    .navBarBottomMenuRightBtn{
                        @include btnAzzurro;
                    }
                }
            }
        }
    }  
}

.sticky{
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 1;
}

@media screen and (max-width: 1040px){
    .main{
        .sfondo{
            .navBarTop{
                display: none;
            }
            
            .navBarBottom{
                .navBarBottomMenu{
                    .navBarBottomMenuRight{
                        display: none;
                    }
                }
            }
        }
       

    }
}
