@keyframes buttons {
  from {
    bottom: -50%;
    opacity: 0; }
  to {
    bottom: 0px;
    opacity: 1; } }

@keyframes text {
  from {
    opacity: 0;
    transform: scale(0); }
  to {
    opacity: 1;
    transform: scale(1); } }

.titolo {
  animation: text 0.4s;
  animation-timing-function: ease; }

.sottoTitolo {
  animation: text 0.4s;
  animation-delay: 0.8s;
  animation-timing-function: ease;
  animation-fill-mode: backwards; }

.divButtons {
  position: relative;
  animation: buttons 1s;
  animation-delay: 1.2s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards; }
